#breakdown-label{
    color: #f29d18;
    font-weight: bold;
    margin-top: 3px;
}

.break-down:hover{
    cursor: pointer;
    color:#2db071
}

#breakdown-container > hr{
    margin-top: 100px
}

#breakdown-content{
    margin-top: 6px;
    overflow: auto;
    height: 91px;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: absolute;
    top: 270px;
    background-color: #fefefe;
    width: 300px;
    height: 140px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }

  .modal-header {
    padding: 4px 16px;
    background-color: #2db071;
    color: white;
  }

  .modal-header >h2{
      display: inline-block;
  }

  .close-button{
      float: right;
      cursor: pointer;
  }
  
  .modal-body {
    padding: 2px 16px;
    height: 75px;
    overflow: auto;
  }
  
  .modal-footer {
    padding: 4px;
    background-color: #2db071;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }